body{
	background-image: url("../images/interior.png");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	padding:0;
}
nav{
	text-align: center;
	margin-top: 4%;
	padding: 0px;
}
li{
	list-style: none;
	display: inline;	
}
li a{
	color: white;
	text-decoration: none;
	text-align: center;
    padding: 1% 16px;
    font-size: 150%;
}
li a:hover{
	color: gold;
}
header{
	margin-left: 3%;
	margin-top: 10%;
	padding-bottom: 10%;
}

#logo {
	height: 80%;
	width: 50%;
}

#text {
	height: 10%;
	max-width: 1px;
}

#emptySpace {
	margin-top: 100%;
}

#goud {
	margin-bottom: 5%;
}

h1 {
	display: inline-block;
	border: 20px solid #e41d18;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-radius: 500px;
	background-color: #e41d18;
	font-size: 150%;
}

h1 a {
	color: white;
	text-decoration: none;
}

h1 a:hover {
	color: gold;
}
#triforce{
	background-color:rgba(0,0,0,0.5);
	height: 9%;
	margin-left: 5%; 	
	margin-right: 5%;
	margin-bottom: 3.5%;
}
hr{
	margin-top: 2%;
	width: 91%;
	margin-bottom: 2%;
}

footer{
	background-image: url("../images/marble.jpg");
	color: white;
	padding-top: 5.5%;
}

footer a img{
    width: 2.5%;
	float: right;
	padding-right: 5.2%;
}
footer b img{
    width: 2.75%;
	float: right;
	margin-top: -1.25%;
	padding-right: 5%;
}
#table2 {
	padding-top: -2%;
	margin-left: 41%;
}
#table1{
	text-align: center;
	margin-left: 4%;
	margin-bottom: -5.5%;
	
}
#table2{
	text-align: center;
	margin-left: 45%;
	margin-top: -3.5%;
	padding-bottom: 3.5%;
}


