@media screen and (max-width: 1700px) {
    #goud {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #goud {
        display: none;
    }

    #foto {
        display: none;
    }
}