body{
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url("../images/interior4.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	padding:0;
}
nav{
	text-align: center;
	margin-top: 4%;
	margin-left:-3%;
	padding: 0px;
}
li{
	list-style: none;
	display: inline;	
}
li a{
	color: white;
	text-decoration: none;
	text-align: center;
    padding: 1% 16px;
    font-size: 125%;
}
li a:hover{
	color: gold;
}
h3 {
    color: white;
}


#wrapper {
    display: flex;
}

#left {
    flex: 0 0 50%;
}
#map{
	flex: 0 0 50%;
	margin-top:25%;
	margin-left:25%;
}
#contact{
	margin-left:28%;
	font-size:50pt;
	margin-top:-1%;
}
#middle {
    flex: 1;
}

#right {
    flex: 2;
	margin-top:-1%;
	margin-left:-23%;
	padding-left:0px;
	text-decoration: none;
}
#line{
	height: 98%;
}
#reserveer {
	display: inline-block;
	border: 20px solid #e41d18;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-radius: 500px;
	background-color: #e41d18;
	font-size: 150%;
	margin-top:72%;
}
h1 a {
	color: white;
	text-decoration: none;
}
h1 a:hover {
	color: gold;
}
header{
	margin-left: 3%;
}

footer{
    background-image: url("../images/marble.jpg");
    color: white;
	text-align:center;
}
footer a img{
    width: 6%;
}
footer b img{
    width: 5.5%;
}