body{
	background-image:url("../images/image6.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
	margin:0;
	padding:0;
}
nav{
	text-align: center;
	margin-top: 3.6%;
	padding: 0px;
}
li{
	list-style: none;
	display: inline;	
}
li a{
	color: white;
	text-decoration: none;
	text-align: center;
    padding: 1% 16px;
    font-size: 150%;
}
li a:hover{
	color: gold;
}
header{
	margin-left: 3%;
	margin-top: 4%;
	margin-right: 6%;
	width: inherit;
	color:#782021
	
}
header img{
	max-width: 50%;
	height: auto;
	width: auto;
}
#tekst{
}
section a img{
	width: 50%;
	max-width: 20%;
	margin-right: 0.25%;
	
}
section b img{
	padding-top: 0%;
	margin-top: -0.5%;
	margin-right: 0.25%;
	width: 70%;
	max-width: 20%;
	padding-bottom: 50px;
}
footer{
	background-image: url("../Images/footer.jpg");
	color: white;
	margin-top:20%;
}


footer{
    background-image: url("../Images/marble.jpg");
    color: white;
}
footer a img{
    width: 6%;
}
footer b img{
    width: 5.5%;
}