body {
    font-family: 'Source Sans Pro', sans-serif;
	background-image: url("../images/image5.png");
	background-repeat:no-repeat;
	background-size: 106%;
	text-align:center;
	margin:0;
	padding:0;
}
nav{
	text-align: center;
	margin-top: 4%;
}
li{
	list-style: none;
	display: inline;	
}
li a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 1% 14px;
    font-size: 130%;
}
li a:hover{
	color: gold;
}

#text{
	margin-top:4%;
}
ul{
	margin-top:1%;
}
#triforce{
	background-color:rgba(0,0,0,0.5);
	height: 9%;
	margin-left: 5%; 	
	margin-right: 5%;
	}
h1{
	color: #e41d18;
	padding-top: 0.5%;
	text-shadow: 1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 1.5px black;
	font-size: 190%;
	
}
h2{
	color: #e41d18;
	padding-top: 3%;
	text-shadow: 1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 1.5px black;
    font-size: 190%;
	
}
h3{
	color: white;
	line-height: 25%;
	text-shadow: -0.5px 0 #e41d18, 0 0.5px #e41d18, 0.5px 0 #e41d18, 0 -0.5px #e41d18;
	font-size: 100%;

}
hr{
	margin-right: 34%;
	margin-left: 34%;
	margin-top: -1%;
	color: gold;
}
footer{
	background-image: url("../images/marble.jpg");
	color: white;
	margin-top:4%;
}

footer a img{
    width: 2.5%;
	float: right;
	padding-right: 5.2%;
}
footer b img{
    width: 2.75%;
	float: right;
	margin-top: -1.25%;
	padding-right: 5%;
}
#table2 {
	padding-top: -2%;
	margin-left: 41%;
}
#table1{
	text-align: center;
	margin-left: 4%;
	margin-bottom: -5.5%;
	
}
#table2{
	text-align: center;
	margin-left: 45%;
	margin-top: -3.5%;
	padding-bottom: 3.5%;
}
footer{
	padding-top: 5.5%;
}


